<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_form.other.item_names.media_name')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<%=text_field_tag('media_name', @source_obj.media_name,
		 {:size=>60, :maxlength=>60, :style=>"ime-mode: active;"})%>
		<%=svr_error_tag("sverr_media_name", @error_msg_hash[:media_name])%>
	</td>
</tr>