<% i18n_cache(:suffix=>'registration_step_7-1') do %>
<div align="center">
	<table border="0">
	<tr>
		<td>
		<font size="2">
			<p align="left">
			あなたのの会員登録が<br>
			完了しました。
			</p>
			<p align="left">
			ログインページからログイン<br>
			が可能です。
			</p>
			<p align="left">
			本サイトは携帯ブラウザ非対応<br>
			ですので<br>
			ログインはパソコン等から<br>
			お願いします。
			</p>
		</font>
		</td>
	</tr>
	</table>
</div>
<% end %>