a.cell_link {
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
}

body {
	background-color:#b0c4de;
}

div.vertical_middle {
	display: table-cell;
	vertical-align: middle;
}

font.confirm {
	 color:#113366;
	 font-weight:bold;
}

input.button_01 {
	width: 190px;
	height: 50px;
	color: blue;
	font: normal normal bold 100% 'Ludica Sans Unicode';
	border: 0px none;
	background-image: url(/images/button_01.png);
	cursor:pointer;
}

input.button_02 {
	width: 190px;
	height: 50px;
	color: blue;
	font: normal normal bold 100% 'Ludica Sans Unicode';
	border: 0px none;
	background-image: url(/images/button_02.png);
	cursor:pointer;
}

input.button_03 {
	width: 150px;
	height: 40px;
	font: normal normal bold 80% 'Ludica Sans Unicode';
	border: 0px none;
	background-image: url(/images/button_03.png);
	cursor:pointer;
}

input.button_04 {
	width: 140px;
	height: 30px;
	font: normal normal bold 90% 'Ludica Sans Unicode';
	border: 0px none;
	background-image: url(/assets/button_04.png);
	cursor:pointer;
}

table.base {
	background-color:#ffffff;
}

table.form_01 {
	background-color:#ffffff;
	border-top-color:#3399cc;
	border-right-color:#3399cc;
	border-bottom-color:#3399cc;
	border-left-color:#3399cc;
}

table.form_02 {
	background-color:#ffffff;
	border-top-color:#dcdcdc;
	border-right-color:#dcdcdc;
	border-bottom-color:#dcdcdc;
	border-left-color:#dcdcdc;
}

td.cell_01 {
	background-color:#3399cc;
}

td.cell_02 {
	background-color:#b0c4de;
}
