<% i18n_cache(:suffix=>'withdrawal_withdrawal-1') do %>
<table border="1" cellpadding="0" cellspacing="0" class="form_01">
<tbody>
<tr>
	<th height="30" class="cell_02">
		<font size="3"><%=vt('withdrawal.item_names.form_title')%></font>
	</th>
</tr>
<tr>
	<td>
<% end %>
		<table border="1" cellspacing="0" cellpadding="4" class="base_01">
		<tbody>
		<tr>
			<td width="728" height="100">
				<font size="2">
				&nbsp;<%=vt('withdrawal.messages.messages_1')%><br />
				&nbsp;<%=vt('withdrawal.messages.messages_2')%>
				</font>
			</td>
		</tr>
		</tbody>
		</table>
<% i18n_cache(:suffix=>'withdrawal_withdrawal-2') do %>
	</td>
</tr>
</table>
<% end %>