<tr id="dynamic_input_fields">
	<th align="left" class="pattern_4">
		<font size="2"><%=t('views.partials.source_check.other.item_names.media_name')%></font>
	</th>
	<td colspan="3" class="pattern_4">
		<font size="2"><%=@source_obj.media_name %></font>
		<%=hidden_tag("media_name", @source_obj.media_name)%>
	</td>
</tr>